html,
body {
    background: #fffff2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.data-card {
    background: linear-gradient(#92bCa6, #A2CCB6);
    margin: 20px;
    padding: 15px;
    width: 375px;
    max-height: 80px;
    border-radius: 10px;
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
}

.category h1 {
    width: 100%;
    text-transform: capitalize;
    text-align: left;
    padding: 20px;
    font-size: 3rem;
    color: #224C36;
}

/* Font styling for main card*/

.large {
    font-size: 2rem;
}

.small {
    font-size: 1rem;
}

/* Card position */
.center {
    display: block;
}

/* Card skeleton */
.card {
    width: 550px;
    height: 400px;
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 1.5rem;
}

/* Main card view */
.card .general {
    width: 300px;
    height: 100%;
    position: absolute;
    right: 0;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0;
}

/* Card headers */
.card h1 {
    text-align: center;
}

/* More info + text */
.more {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.9em;
}

/* Laureate info */
.card .additional {
    position: absolute;
    width: 150px;
    height: 100%;
    transition: width 0.4s;
    overflow: hidden;
}

/* Text colour for additional info on hover */
.card.colour .more-info {
    color: #224C36;
}

.card.colour .stats {
    color: #325C46;
    font-size: 2rem;
}

/* Laureate stat objects */
.stats>div {
    flex: 1;
    text-align: center;
}

/* Stat objects layout */
.stats {
    font-size: 2rem;
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
}

/* Laureate stats title */
.title {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* Hover overlap colour */
.card.colour .additional {
    background: linear-gradient(#92bCa6, #A2CCB6);
}

/* Hovers full width of card for new info */
.card:hover .additional {
    width: 100%;
    border-radius: 0 5px 5px 0;
}

/* On hover slide additional laureate info over */
.card .additional .more-info {
    width: 300px;
    float: left;
    position: absolute;
    left: 150px;
    height: 100%;
}